@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: dyna; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.zigzag {
  --s: 100px; /* control the size */
  --c1: #eceddc;
  --c2: #c3c5a9;
  /* --c2: #000000; */
  
  --_g: var(--c1) 90deg, #ff000000 90.5deg;
/* Second gradient with different angle */
  
  background:
   conic-gradient(from -45deg, var(--_g)),
   conic-gradient(from 135deg, var(--_g)) calc(var(--s)/2) 0,
 
   var(--c2); /* Background color */
  
  background-size: var(--s) var(--s);
}


@font-face {
  font-family: "dyna";
  src: url('.././public/DynaPuff.ttf');
  font-display: swap;
}

@layer base {
  @font-face {
    font-family: 'Plakkaat';
    font-display: swap;
    src: url('.././public/Plakkaat.ttf');
  }
}

h1{
  font-size: 40px;
}
.float-start {
  float: left;
}
.float-end {
  float: right;
}

/* Assurons-nous que nous ciblons les images dans tous les composants CustomPortableText */
.alt{
  display: flex;
  flex-direction: row;
}

.alt:nth-child(odd){
  flex-direction: row-reverse;
}

/* .containerBla {
  display: flex;
}
.alternate{
 display: flex;
}


 .alternate:nth-child(even){
  flex-direction: row-reverse;
} */

/* .containerBla .alternate img:nth-child(odd){
  float: inline-end;
}

.containerBla .alternate img:nth-child(even){
  float: inline-start;
} */
/* Réinitialisation après chaque image flottante pour éviter les chevauchements */
.containerBla {
  clear: both; /* Permet de commencer une nouvelle ligne après chaque image */
}

.animatedAreaD3 {
  animation: heartbeat 3s infinite;
  transform-origin: center; /* Ensure scaling happens around the center */
}

@keyframes heartbeat {
  0% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.2)  translateX(25px) ; /* Enlarged size */
  }
  100% {
    transform: scale(1); /* Back to normal size */
  }
}


@keyframes loader  {
  0% {
    /* transform: scale(0); */
    rotate: 0deg;

  }
  50% {
    transform: scale(1); /* Normal size */
    opacity: 1;
  }
  90%{

  }
  99%{
    opacity: 0;
  }
  100% {
    rotate: 360deg;
    opacity: 0;
    display: none;
  }
}

.loader{
scale: 1;
animation: loader 1.5s ease-in forwards;
}

@keyframes quoteAnim  {
  0% {
    opacity: 0; /* Normal size */
    translate:0 50px ;
  }
  100% {
    opacity: 1;
    translate:0 0 ;
  }
}

.quoteAnim{
opacity: 0;
animation: quoteAnim 1s ease-in-out 2s forwards;
}

.animeBg{
  mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);
  animation: circle 2s forwards;
  animation-delay: 1s;
  background: orange;
  clip-path: circle(20%);
  opacity: 0;
}

.bgHeader{
}
@keyframes circle {
  0%{
    clip-path: circle(0%)
  }
  75% {
    opacity: 1; }

  100% { clip-path: circle(100%);
    opacity: 1; }
}
@keyframes animebg {
  0% {
    clip-path: inset(50% 50% 50% 50%);
  }


  100% {
    clip-path: inset(-100% -100% -100% -100%); /* Back to normal size */
  }
}

.text_shad{
  text-shadow: 5px 5px #eceddc;
}

.icon_invert { 
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.masked-text {

  font-weight: bold;
  color: transparent;
  background-image: url('https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
  background-size: 100%; /* Enlarged for smooth animation */
  background-position: 0 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 4s ease-in-out forwards;
}


.anim{
animation:anim 4s 0.5s forwards;
animation-delay: 5s;
}

@keyframes anim{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes animate-background {
  0% {
      background-position: 50% 50%;
      background-size: 100%;
  }

  100% {
    background-position: 50% 50%;
    background-size: 100%;
}
}